<!-- <h2> Turtle Sweaters: </h2> -->
{{#each products}}
<div id=div{{_id}} class="product">
  <h3>{{name}}</h3>
  <!-- <p class="_id">
  {{_id}}
  </p> -->
  <h4 id ="price">
  ${{price}}
</h4>
  <p class="description">
  {{description}}
  </p>
  <form class="choose-quantity">
    <fieldset>
      <input class="input-number" type="number" name="quantity" min=1
             placeholder=1>
      <input type="text" name="name" style="display: none"
             value="{{product.name}}">
      <input type="number" name="price" style="display: none"
             value="{{product.price}}">
      <input type="number" name="id" style="display: none"
             value="{{product._id}}">
      <input type="text" name="image" style="display: none"
             value="{{product.image}}">
      <input type="submit" value="Add to Cart">
    </fieldset>
  </form>
  <img src="https://squirrelpicnic.files.wordpress.com/2013/05/myrtle-in-a-bowser-sweater.jpg"
       alt="https://squirrelpicnic.files.wordpress.com/2013/05/myrtle-in-a-bowser-sweater.jpg"
       height="142"
       width="142">
</div>
{{/each}}
