<h1> Order History: </h1>
{{#each orders}}

  <div class="showOrder">
  <strong>Order Id:</strong>{{order}}
  {{_id}}
  <br>
  <strong>Total Amount: ${{total_amount}}
  <br>
  {{#each products}}
    <p>{{name}}  x  {{quantity}}</p>
  {{/each}}
  <button id={{_id}} class="deleteOrder">Delete This Order</button>
</div>

{{/each}}
